<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizeo">


    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Required only when requesting background location access on
         Android 10 (API level 29) and higher. -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quizeo">
        <activity android:name=".FinishQuizActivity"></activity>
        <activity android:name=".CreateQuizActivity" />
        <activity android:name=".CreateQuizActivity2" />
        <activity android:name=".PlayQuizActivity" />
        <activity android:name=".OptionsActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".AddQuestionActivity"/>
        <activity android:name=".AnswerQuizActivity2"/>
        <activity android:name=".AnswerQuizActivity3"/>
        <activity android:name=".AnswerQuizActivity4"/>
        <activity android:name=".AnswerQuizActivity5"/>
        <activity android:name=".AddQuestionActivity2"/>
        <activity android:name=".AddQuestionActivity3"/>
        <activity android:name=".AddQuestionActivity4"/>
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>